body {
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
  
}

/* form{
  position: fixed;
} */

.col-sm-2 {
  margin-right: 10px;
}

.checked{
  width: 25px;
  height: 25px;
  accent-color: green ;
}

.complete{
  background-color: greenyellow;
}

.form{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-success{
  height: 40px;
}
  .table{
 width: 80vw; 
  }

#scrolltoform{
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  display: none;
  right: 20px;
  background: transparent;
}
